<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>P치gina de Inicio</h1>
    <% 
    if (typeof usuarioConectado != "undefined") {
    %>
        <h1>El usuario conectado es: <strong><%=correo%></strong></h1>
        <a class="boton-rojo" href="cerrar-sesion">Cerrar Sesi칩n</a>
    <%
    }
    else {
    %>
        <h1><strong>Debes iniciar sesi칩n</strong></h1>
        <a class="boton-verde" href="iniciar-sesion">Iniciar Sesi칩n</a>
    <%
    }
    %>
</body>
</html>